body {
    background: linear-gradient(blue, whitesmoke);
    background-attachment: fixed;
}

#cajasuperior {
    padding: 20px;
    height: 100px;
    width: 100%;
}

#cuerpo {
    text-align: center;
}

@font-face {
    font-family: 'Poppins';
    src: url(fonts/poppins/poppins-light.ttf) format(ttf);
     }

h1 {
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 22px;
    color: aliceblue;
    font-style: oblique;
}

ul {
    list-style: none;
}

li {
    line-height: 5;
}

a {
    color: hotpink;
    text-decoration: none;
}

a:hover, a:active {
    color:plum;
}

.textocontinuo {
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 25px;
}
