body {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div {
   margin: 0%;
}

.static {
   background-color:cadetblue;
   height: 70px;
   width: 100%;
   color: ghostwhite;
}

#cajasuperior {
   background-image: url(img/fondo\ \(1\).jpg);
   background-position: center;
   height: 1920px;
   margin: 0%;
}


h1 {
   font-size: 50px;
   font-weight: 100;
   font-style: oblique;
}

h2 {
   margin-bottom: 100px;
   color: darkgray;
}

p {
   font-size: 24px;
   margin-left: 50px;
   margin-right: 50px;
}

.fuentepequena {
   font-size: 12px;
   color: gray;
}

#menucentro {
   margin-top: 100px;
   padding: 50px;
}

#cuerpo {
   padding: 100px;
}

#pie {
   background-color: black;
   color: ghostwhite;
   font-size: 40px;
   padding: 100px;
}

ul {
   list-style-type: none;

}

li {
   margin-top: 30px;
}

a {
   color: orangered;
   text-decoration: none;
}

a:hover,
a:active {
   color: cornflowerblue;
   padding: 101px;
}